

    


    <div class="navbar-fixed" style="background-color:#0034AC">    

        <nav class="" style="background-color: #0034AC;">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i id="imenu" class="material-icons">menu</i></a>
            <a href="." class="brand-logo left" ><img src="/app/images/logo-blanco.png" alt="" class="responsive-img" width="90"/></a>
            
            <ul class="right hide-on-med-and-down">
                <li><a href="./modulo-de-almacen">Almacen</a></li>
                <li><a href="./modulo-de-configuracion">Configuración</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="./modulo-de-pedidos-y-ventas">Pedidos y ventas</a></li>
                <li><a href="./modulo-de-cobranzas">Cobranzas</a></li>
            </ul>                
            
        </nav>
    
    </div>
    
