<ul id="slide-out" class="sidenav sidenav-fixed collapsible">
    <li>
        <div class="user-view" style="height: 100px; text-align: center;" >
            <div class="background">
                <img src="/app/images/logo-blanco.png" alt="" width="130">
            </div>
        </div>
    </li>
    
    <li><a href="#!">Second Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <button class="accordion">Section 1</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
    
    <button class="accordion">Section 2</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
    
    <button class="accordion">Section 3</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>
</ul>