<div class="container">

    <h3>Centro de Costos y Obras</h3>

    <div class="row">

        <div class="input-field col s12 l5">
            <input type="text" name="" id="" value="">
            <label for="">Buscar</label>
        </div>

        <div class="input-field col s12 l7">
            <a class="btn"><i class="material-icons">search</i></a>
        </div>

    </div>

    <div class="row">

    </div>

    <div class="row">

        <h4>Proyectos recientes</h4>

        <hr>
    </div>

</div>