<div class="container">

    <div class="row centro cabecera">
        <h3>Centro de Costos y Obras</h3>
    </div>
    
    <div class="row">
        <div class="input-field col s7 l7">
            <input type="text" name="" id="" value="">
            <label for="">Buscar</label>
        </div>

        <div class="input-field col s1 l1">
            <a class="btn-small"><i class="material-icons">search</i></a>
        </div>
    </div>

    <div class="row">

    </div>

    <div class="row">

        <h4>Proyectos recientes</h4>

        <hr>
    </div>

</div>