<div class="container">

    <div class="row centro cabecera">
        <h3>Centro de Costos y Obras</h3>
    </div>
    
    <div class="row">
        <div class="input-field col s7 l7">
            <input type="text" name="" id="" value="">
            <label for="">Buscar</label>
        </div>

        <div class="input-field col s1 l1">
            <a class="btn-small"><i class="material-icons">search</i></a>
        </div>
    </div>

    <div class="row">

    </div>

    <div class="row">
        <div class="col s12 l12">
            <span style="font-size: 20px;">Proyectos recientes</span>
          <div class="card">
            <div class="card-content black-text" style="font-size: 14px;">
              <table>
                  <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Proyecto</th>
                        <th>Estado</th>
                        
                    </tr>
                  </thead>
                    <tr>
                        <td>05/02/20</td>
                        <td>Defensa Civil 2020</td>
                        <td>Pendiente</td>
                        
                    </tr>
                    <tr>
                        <td>04/02/20</td>
                        <td>Piscina Semi Olímpica</td>
                        <td>Terminado</td>
                        
                    </tr>
                    <tr>
                        <td>03/02/20</td>
                        <td>Aire Acondicionado YORK 18000 BTU</td>
                        <td>Terminado</td>
                    </tr>
              </table>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>

</div>