<div class="container">

    <div class="row center cabecera">
        <h4>Registro de Orden de Compra / Servicios</h4>
    </div>

    <div class="row">
        <div class="col s4 l4">
            <label for="">Tipo de Orden</label>
            <select class="browser-default">
                <option value="" disabled selected></option>
                <option value="">Orden de Compra</option>
                <option value="">Orden de Servicio</option>
            </select>
        </div>

        <div class="col s5 l5">

        </div>

        <div class="input-field col s3 l3">
            <label>Fecha Inicio</label>
            <input placeholder="" type="date" name="defaultDate" class="datepicker">
        </div>

    </div>

    <div class="row">
        <div class="input-field col s3 l3">
            <input placeholder="" type="text" class="">
            <label>Código Operación</label>
        </div>

        <div class="input-field col s3 l3">
            <input placeholder="" type="text" class="">
            <label>Código Orden de Compra</label>
        </div>

        <div class="input-field col s3 l3">
            <input placeholder="" type="text" class="">
            <label>Código Orden de Servicio</label>
        </div>

        <div class="input-field col s3 l3">
            <input placeholder="" type="text" class="">
            <label>Código Requerimiento</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s5 l5">
            <input placeholder="" type="text" class="">
            <label for="">Proveedor</label>
        </div>

        <div class="input-field col s1 l1">
            <a class="btn-small"><i class="material-icons">search</i></a>
        </div>

        <div class="col s4 l4">
            <label for="">Centro de Costos</label>
            <select class="browser-default">
                <option value="" disabled selected></option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
                <option value="">Option 3</option>
            </select>
        </div>
    
        <div class="input-field col s2 l2">
            <input disabled value="Pendiente" id="disabled" type="text" class="validate">
            <label for="disabled">Estado</label>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l12">
          <div class="card">
            <div class="card-content black-text">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Concepto</th>
                        </tr>
                    </thead>
                    
                        <tr>
                            <td>1</td>
                            <td>3</td>
                            <td>UNIDAD</td>
                            <td>Sellador CPPG GL 65005</td>
                            <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>6</td>
                            <td>UNIDAD</td>
                            <td>Lija Agua ASA Grano 120 63118</td>
                            <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>6</td>
                            <td>UNIDAD</td>
                            <td>Rodillo Toro Amarillo 9 PG 69876</td>
                            <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a></td>
                        </tr>
                    
                </table>
                <div class="row">
                    <div class="col s12 l4">
                        <a href="#" class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add</i></a>
                        <label for="" style="color: #454545; font-size: 16px;">Agregar item</label>
                    </div>
                </div>

          </div>
        </div>
    </div>

    

      <div class="row" style="text-align: right;">
        <a class="waves-effect waves-light btn" style="background-color:#888888;">Registro de Comprobante</a>
        <a href="#modal1" class="btn modal-trigger" style="background-color:#888888;"><i class="material-icons">attach_file</i>Ver Adjuntos</a>
        
        <div id="modal1" class="modal">
            <div class="modal-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Tipo de documento</th>
                                <th>Número de documento</th>
                                <th>Moneda</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        
                            <tr>
                                <td>Boleta</td>
                                <td>B001-0045</td>
                                <td>Dólares</td>
                                <td>200.00</td>
                                <td><a href="./registro-comprobante">Ver detalle</a></td>
                            </tr>
                            <tr>
                                <td>Factura</td>
                                <td>F005-3452</td>
                                <td>Soles</td>
                                <td>1300.00</td>
                                <td><a href="./registro-comprobante">Ver detalle</a></td>
                            </tr>
                            <tr>
                                <td>Factura</td>
                                <td>F010-0065</td>
                                <td>Soles</td>
                                <td>600.00</td>
                                <td><a href="./registro-comprobante">Ver detalle</a></td>
                            </tr>
                    </table>
                </div>
            </div>
      </div>

      <div class="row" style="text-align: center;">
        <a class="btn">Nuevo</a>
        <a class="btn">Guardar</a>
        <a class="btn">Modificar</a>
        <a class="btn">Eliminar</a>
      </div>

</div>