<div class="container">
    
    <div class="row center cabecera">
        <h3>Sistema de Obras y Presupuestos</h3>
    </div>

    <div class="row">
        <div class="col s12 l12">
            <span style="font-size: 20px;">Últimos registros</span>
          <div class="card">
            <div class="card-content black-text" style="font-size: 14px;">
              <table>
                  <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Descripción</th>
                        <th>P.Venta</th>
                        <th>Centro de Costos</th>
                        <th>Estado</th>
                    </tr>
                  </thead>
                    <tr>
                        <td>05/02/20</td>
                        <td>Virgilio Chipana Ortiz</td>
                        <td>Reparación motor bomba de agua</td>
                        <td>S/. 420.00</td>
                        <td>Electrobomba Safari 2HP Pileta</td>
                        <td>Pendiente</td>
                    </tr>
                    <tr>
                        <td>04/02/20</td>
                        <td>Homecenters Peruanos S.A.</td>
                        <td>Válvula de ingreso inteligente</td>
                        <td>S/. 27.74</td>
                        <td>Sanitarios / Materiales</td>
                        <td>Pendiente</td>
                    </tr>
                    <tr>
                        <td>03/02/20</td>
                        <td>Comercial e Industrial Branfisa</td>
                        <td>Reparación de lustradora</td>
                        <td>S/. 1360.00</td>
                        <td>Lustradora Chasky</td>
                        <td>Terminado</td>
                    </tr>
                    <tr>
                        <td>03/02/20</td>
                        <td>Lidegraf S.A.C</td>
                        <td>Libros de resgistro oficio</td>
                        <td>S/. 390.00</td>
                        <td>Recepción 1</td>
                        <td>Pendiente</td>
                    </tr>

                  
              </table>
            </div>
            
          </div>
        </div>
      </div>
    
</div>

