

<form action="">


    <section class="container" style="margin: 0px auto 0; width: 100%; ">

            
                        <section class="container" id="login" style="margin: 30px auto 0; width: 430px;">
                            
                            <div class="card white" style="border-radius: 5px !important;">
                                            <div class="progress" style="position: absolute;top: -7px;width: 100%;">
                                                    <div class="indeterminate"></div>
                                            </div>
                                            <div class="card-content">                            
                                                
                                                <!-- <hr style="height: 1px;border: 0;background-color: #e5e5e5;"> -->

                                                <!-- <hr style="height: 1px;border: 0;background-color: #e5e5e5;margin-top: -15px"> -->

                                                    <span class="card-title center" style="color: rgb(0, 57, 121);padding: 20px 0px 0px 0px;">
                                                    <!-- |   INGRESAR -->
                                                        <a href="." class="brand-logo" style="padding: 2px 0 0 10px;height: 100%; color: black; font-size: 2.1rem; font-weight: 500;">
                                                            <img src="/app/images/logo-azul_.png" alt="" class="responsive-img" width="150"><div>
                                                            <!-- <span style="margin-left: 10px;">SIGOP</span></div> -->
                                                        </a>
                                                    </span>
                                                
                                                    <div class="row">

                                                        <div class="input-field col s12 l12">
                                                            <!-- <i class="material-icons prefix">account_circle</i> -->
                                                            <input id="idcomisaria" type="text">
                                                            <label for="idcomisaria">Nombre de usuario</label>
                                                        </div>

                                                        <div class="input-field col s12 l12">
                                                            <!-- <i class="material-icons prefix">lock</i> -->
                                                            <input id="acceso" type="password">
                                                            <label for="acceso">Contraseña</label>
                                                        </div>
                            
                                                    </div>
                                                    

                                
                                            </div>
                                            <div class="card-action center-align" style="font-size: 10px; background-color: transparent !important;">                
                                                <!-- <a href="" style="color: #FF5252;">Olvidé mi contraseña</a>     -->
                                                <!-- <a href="recupera-clave" style="color: blue;">Olvidé mi contraseña</a> -->
                                                <!--<a href="#">This is a link</a> -->

                                                <div class="row">
                                                    <div class="col s12 m12 l12">                                                
                                                            <button id="btn-upd-enc" class="btn waves-effect blue darken-4" type="submit" style="width: 100%;" type="submit">
                                                                Iniciar sesión
                                                            </button>
                                                    </div>
                                                </div>

                                            </div>
                            </div>

                    </section>



                    <section class="container-wide" id="imgporta" style="width: 65%;float: left; padding-left: 90px;">

                        <!-- <img src="application/assets/img/portada_sicV2.png" class="responsive-img" alt="" style="width: 100%;"> -->

                    </section>



    </section>

        



    </form>