<div class="container">
    <div class="row center cabecera">
        <h3>Area</h3>
    </div>

    <div class="row" style="text-align: center;">

        <div class="input-field col s11 l11">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Nombre de la Partida</label>
        </div>
        
        <div class="input-field col s1 l1">
            <a class="waves-effect waves-light btn-small"><i class="material-icons">search</i></a>
        </div>

    </div>

    <div class="row" style="text-align: center;">

        <a class="btn">Nuevo</a>
        <a class="btn">Guardar</a>
        <a class="btn">Modificar</a>
        <a class="btn">Eliminar</a>
    
    </div>

</div>