<div class="container">

    <div class="row center cabecera">
        <h4>Proveedores</h4>
    </div>

    <div class="row">
       
        <div class="input-field col s4 l4">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Razón Social / RUC</label>
        </div>
    
        <div class="input-field col s8 l8">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Nombre de contacto</label>
        </div>

    </div>

    <div class="row">
        <div class="input-field col s4 l4">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Correo electrónico</label>
        </div>
        <div class="input-field col s8 l8">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Dirección</label>
        </div>
    </div>

    <div class="row">
        <div class="col s6 l6">
        <label>Distrito</label>
            <select class="browser-default">
                <option value="" disabled selected>Elija un distrito</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
    
        <div class="input-field col s3 l3">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Teléfono</label>
        </div>

        <div class="input-field col s3 l3">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Anexo</label>
        </div>

    </div>

    <div class="row" style="text-align: center;">

        <a class="btn">Nuevo</a>
        <a class="btn">Guardar</a>
        <a class="btn">Modificar</a>
        <a class="btn">Eliminar</a>

    </div>

</div>