<div class="container" >

    <div class="row center cabecera">    
        <h4>Centro de Costos y Obras</h4>
    </div>

    <div class="row center">
        <div class="input-field col s11 l11">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Nombre de la Obra</label>
        </div>
    
        <div class="input-field col s1 l1">
            <a class="btn-small"><i class="material-icons">search</i></a>
        </div>
    </div>

    <div class="row">
        <div class="col s6 l6">
        <form action="#">
            <span>Estado</span>
            <p>
              <label>
                <input name="group1" type="radio" />
                <span>Pendiente</span>
              </label>
            </p>
            <p>
              <label>
                <input name="group1" type="radio" />
                <span>Indefinido</span>
              </label>
            </p>
            <p>
              <label>
                <input name="group1" type="radio" />
                <span>Finalizado</span>
              </label>
            </p>
        </form>
    </div>

        <div class="col s12 l4">
            <span>Fecha Inicio</span>
            <input type="date" name="defaultDate" class="datepicker">
        
    
            <span>Fecha Fin</span>
            <input type="date" name="defaultDate" class="datepicker">
        </div>
    </div>

    <div class="row">
        <div class="col s12 l6">
            <label>Area</label>
                <select class="browser-default">
                    <option value="" disabled selected>Elija un área</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
        </div>
    

        <div class="col s12 l6">
            <label>Tipo de Gasto</label>
                <select class="browser-default">
                    <option value="" disabled selected>Elija un tipo de gasto</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
        </div>
    </div>

    <div class="row" style="text-align: center; margin-top: 8%;">
            <a class="btn">Nuevo</a>
            <a class="btn">Guardar</a>
            <a class="btn">Modificar</a>
            <a class="btn">Eliminar</a>
    </div>
</div>