<div class="container">
    <div class="row center cabecera">
        <h4>Partidas y Sub-Partidas</h4>
    </div>
    
    <div class="row center" style="padding-top: 4%;">
            <form action="#">
                <p>
                    <label style="margin-right: 50px;">
                        <input name="group1" type="radio"  />
                        <span>Partida</span>
                    </label>

                    <label style="margin-left: 50px;">
                        <input name="group1" type="radio" />
                        <span>Sub-Partida</span>
                    </label>
                </p>
            </form>
    </div>

    <div class="row" style="margin-top: 6%;">

        <div class="col s2 l2">

        </div>

        <div class="input-field col s8 l8">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Nombre de la Partida</label>
        </div>
        
        <div class="col s2 l2">

        </div>

    </div>

    <div class="row center">
        <a class="btn">Nuevo</a>
            <a class="btn">Guardar</a>
            <a class="btn">Modificar</a>
            <a class="btn">Eliminar</a>
    </div>

</div>