<div class="container">
    <div class="row center cabecera">
        <h3>Area</h3>
    </div>

    <div class="row" style="margin-top: 6%;">

        <div class="col s2 l2">

        </div>

        <div class="input-field col s8 l8">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Nombre del área</label>
        </div>

        <div class="col s2 l2">

        </div>
        
    </div>

    <div class="row" style="text-align: center;">

        <a class="btn">Nuevo</a>
        <a class="btn">Guardar</a>
        <a class="btn">Modificar</a>
        <a class="btn">Eliminar</a>
    
    </div>

</div>