<div class="container">
    <h3>Area</h3>

    <div class="row" style="text-align: center;">

        <div class="input-field col s12 l6">
            <input type="text" name="" id="nombre" value="{{Nombre}}">
            <label>Nombre de la Partida</label>
        </div>
        
        <div class="input-field col s12 l6">
            <a class="waves-effect waves-light btn-small"><i class="material-icons left">search</i></a>
        </div>

    </div>

    <div class="row" style="text-align: center;">

        <a class="waves-effect waves-light btn">Nuevo</a>
        <a class="waves-effect waves-light btn">Guardar</a>
        <a class="waves-effect waves-light btn">Modificar</a>
        <a class="waves-effect waves-light btn">Eliminar</a>
    
    </div>

</div>