<div class="container">
    
    <div class="row cabecera">

        <div class="col s12 l12">
            <span style="font-size: 24px;">Registro de Operaciones por Centro de Costos u Obras</span>
        </div>
    </div>


    <div class="row">
      <div class="col s12 l3 right">
          <a href="./consultar-requerimientos" class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add</i></a>
          <label for="" style="color: #454545; font-size: 14px;">Nuevo Requerimiento</label>
      </div>

      <div class="col s12 l3 right">
          <a href="./consultar-orden-compra-servicios" class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add</i></a>
          <label for="" style="color: #454545; font-size: 14px;">Nueva Orden</label>
      </div>
    </div>

    <div class="row">
        <div class="input-field col s12 l12">
            <input type="text" name="" id="" value="">
            <label for="">Por nombre de Centro de Costos u Obra</label>
        </div>
  
    </div>
  
    <div class="row">

    </div>

    <div class="row">
      <div class="col s12 l12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Requerimientos</a></li>
          <li class="tab col s3"><a href="#test2">Orden de Compra</a></li>
          <li class="tab col s3"><a href="#test3">Orden de Servicio</a></li>
          
        </ul>
      </div>
      <div id="test1" class="col s12">
          <div class="col s12 l12">
            <div class="card">
              <div class="card-content black-text">
                          <table>
                              <thead>
                                  <tr style="color:#002272;">
                                      <th>Requerimientos</th>
                                      <th>Fecha de emisión</th>
                                  </tr>
                              </thead>
                                  <tr>
                                      <td>Sellador CPPG GL 65005</td>
                                      <td>05/07/2019</td>
                                      <td><a href="">Ver detalle</a></td>
                                  </tr>
                                  <tr>
                                      <td>Lija Agua ASA Grano 120 63118</td>
                                      <td>05/02/2020</td>
                                      <td><a href="">Ver detalle</a></td>
                                  </tr>
                                  <tr>
                                      <td>Rodillo Toro Amarillo 9 PG 69876</td>
                                      <td>30/01/2020</td>
                                      <td><a href="">Ver detalle</a></td>
                                  </tr>
                          </table>
               </div>
            </div>
          </div>
      </div>

      <div id="test2" class="col s12">
        <div class="col s12 l12">
          <div class="card">
            <div class="card-content black-text">
              <table>
                <thead>
                    <tr>
                        <th>Órdenes de Compra</th>
                        <th>Fecha de emisión</th>
                    </tr>
                </thead>
                    <tr>
                        <td>Orden de Compra - 0001</td>
                        <td>01/01/2020</td>
                        <td><a href="">Ver detalle</a></td>
                    </tr>
                    <tr>
                        <td>Orden de Compra - 0002</td>
                        <td>15/01/2020</td>
                        <td><a href="">Ver detalle</a></td>
                    </tr>
                    <tr>
                        <td>Orden de Compra - 0003</td>
                        <td>07/02/2020</td>
                        <td><a href="">Ver detalle</a></td>
                    </tr>
            </table>
</div>
          </div>
        </div>
      </div>
      <div id="test3" class="col s12">
        <div class="col s12 l12">
          <div class="card">
            <div class="card-content">
              <table>
                <thead>
                    <tr>
                        <th>Órdenes de Servicio</th>
                        <th>Fecha de emisión</th>
                    </tr>
                </thead>
                    <tr>
                        <td>Orden de Servicio - 0001</td>
                        <td>01/01/2020</td>
                        <td><a href="">Ver detalle</a></td>
                    </tr>
                    <tr>
                        <td>Orden de Servicio - 0002</td>
                        <td>15/01/2020</td>
                        <td><a href="">Ver detalle</a></td>
                    </tr>
                    <tr>
                        <td>Orden de Servicio - 0003</td>
                        <td>07/02/2020</td>
                        <td><a href="">Ver detalle</a></td>
                    </tr>
            </table>
</div>
          </div>
        </div>
      </div>
      
    </div>

    
</div>