<div class="container">

    <div class="row center cabecera">
        <h5>Registro de Comprobante</h5>
    </div>

    <div class="row">
        <div class="col s4 l4">
            <label for="">Tipo de Comprobante</label>
                <select class="browser-default" name="" id="">
                    <option value="">Opción 1</option>
                    <option value="">Opción 2</option>
                    <option value="">Opción 3</option>
                </select>
        </div>
        
            <div class="input-field col s3 l3 right">
                <label for="">Fecha Inicio</label>
                <input placeholder="" type="date" name="" id="" class="datepicker">
            </div>
    </div>

    <div class="row">
        <div class="input-field col s1 l1">
            <input placeholder="" type="text" class="">
            <label for="">Serie</label>
        </div>
        <div class="input-field col s3 l3">
            <input placeholder="" type="text" class=""> 
            <label for="">Num. Comprobante</label>
        </div>

        <div class="col s1 l1">

        </div>

        <div class="col s4 l4">
            <form action="">
                <span>Tipo Moneda</span>
                <p>
                    <label for="">
                        <input type="radio" name="" >
                        <span>Soles</span>
                    </label>
                    <label for="">
                        <input type="radio" name="" >
                        <span>Dólares</span>
                    </label>
                </p>
            </form>
        </div>

        <div class="input-field col s3 l3 right">
            <input placeholder="" type="text" class="">
            <label for="">Tipo de Cambio</label>

        </div>
    </div>

    <div class="row">
        <div class="col s4 l4">
            <a class="waves-effect waves-light btn-large" style="background-color:#888888;">Adjuntar archivo</a>
            <a class="waves-effect waves-light btn-large" style="background-color:#888888; margin-top: 5%; width: 204px;">Ver documento</a>
        </div>
    
        <div class="col s1 l1">

        </div>

        <div class="input-field col s2 l2">
            <input placeholder="" type="text" class="">
            <label for="">IGV</label>
        </div>

        <div class="col s1 l1">

        </div>

        <div class="input-field col s2 l2">
            <input placeholder="" type="text" class="">
            <label for="">Total</label>
        </div>
    </div>

    <div class="row" style="text-align: center; margin-top: 8%;">
        <a class="btn">Nuevo</a>
        <a class="btn">Guardar</a>
        <a class="btn">Modificar</a>
        <a class="btn">Eliminar</a>
    </div>
</div>