body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .card-login{  
    display: block;
    width: 50%;
    height: auto;  
  
  }

  .btn{
    background-color: aliceblue;
  }